<a href="https://colab.research.google.com/github/Saifullah17003/Assignments/blob/main/23_12_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#variavle creation
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
#Variables do not need to be declared with any particular type, and can even change type after they have been set.
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [6]:
#If you want to specify the data type of a variable, this can be done with casting.
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [7]:
#valid variable
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [8]:
##Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (<ipython-input-8-2dc5ffb46be9>, line 3)

In [9]:
#Python allows you to assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [10]:
#one value in several variable
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [11]:
#Unpack a list:

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [12]:
#Print the data type of the variable x:

x = 5
print(type(x))

<class 'int'>

In [15]:
#variable in several types
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [16]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [17]:
#Integers:

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [19]:
#Floats:

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [20]:
#Floats:

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [21]:
#Complex:

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
#Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

In [24]:
#Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1, 10))

8